@model List<ProductsMVC.Models.Product>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="wProductIDth=device-wProductIDth" />
    <title>Index</title>
</head>
<body>


    <ul>
        <li></li>
    </ul>

</body>
</html>
